<h3>Почему вы выбираете <%= t 'app.title' %>?</h3>

<p>Всего за несколько нажатий мыши вы моментально получаете веб-сайт для вашего
    клана.</p>

<p>Наша система предоставляет (но не ограничивается) следующими
    возможностями:</p>
<ul>
    <li class="bg-danger">Поток новостей клана и личных публикаций участников
        подобный стене в социальной сети. Кроме того имеется интеграция с
        существующими социальными сетями!</li>
    <li>Настраиваемый форум</li>
    <li class="bg-danger">Календарь событий</li>
    <li class="bg-danger">Чат на сайте с интеграцией в другие системы чатов</li>
    <li class="bg-danger">Каталог видео стримов и галерея изображений</li>
    <li class="bg-danger">Альянсы кланов, вы можете просматривать форумы,
        новости и объявления участников всего альянса.</li>
    <li class="bg-danger">Объявления в виде коротких сообщений</li>
    <li class="bg-danger">Более длинные объявления, статьи, вопросы-ответы и
        текстовые страницы в формате Wiki</li>
    <li>Вы можете передать право создать сайт клана другому участнику вашего
        клана, а также наделить некоторых участников вашего клана правами
        управления сайтом клана</li>
    <li class="bg-danger">Используйте наш бесплатный домен или ваше собственное
        имя домена, если у вас оно имеется</li>
</ul>

<p class="bg-danger">Опыт программирования не требуется. Но если вы желаете
    полного контроля над поведением и видом страниц, эти средства у нас
    есть!</p>