<h3>Why choose <%= t 'app.title' %>?</h3>

<p>With few mouse clicks you get a website for your clan set up instantly.</p>

<p>Features include, but not limited to:</p>
<ul>
    <li class="bg-danger">Social network style newsfeed and personal clan member
        feeds. Integration with existing social networks included! </li>
    <li>A configurable forum</li>
    <li class="bg-danger">Calendar of events</li>
    <li class="bg-danger">Chat optionally integrated with existing external
        chats</li>
    <li class="bg-danger">Photo gallery and video streaming gallery</li>
    <li class="bg-danger">Clan alliances, you can see forums, news feeds and
        announcements from every alliance member</li>
    <li class="bg-danger">Short clan announcements</li>
    <li class="bg-danger">Longer announcements, articles, FAQs and text pages in
        Wiki format</li>
    <li>You can grant the right to create clan site to someone else in your
        clan, as well as give clan management rights</li>
    <li class="bg-danger">Use our free subdomain or your own domain name if you
        have one</li>
</ul>

<p class="bg-danger">Does not require previous development experience. But if
    you desire better control over how your pages look and work, we have these
    tools!</p>