<div class="row">
  <div class="col-lg-12">
    <h3><%= post['title'] %></h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-3">
    By <%= post['created_by'] %><br/>
    Updated at <%= post['updated_at'] %>
  </div>
  <div class="col-lg-9">
    <%= post['body'] %>
  </div>
</div>
