<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        <%= post['title'] %>
        @ <%= post['updated_at'] %>
    </h3>
  </div>
  <div class="panel-body">
    <%= post['body'] %>
  </div>
</div>
