<div class="row" style="margin-top:64px">
  <div class="col-lg-12 text-right">
    <hr />
    <p><small class="text-muted">
      &copy; 2014, <a href="http://github.com/kvakvs">Dmytro Lytovchenko</a>,
      <a href="mailto:dmytro.lytovchenko@gmail.com">email@</a>
      <br/>
      <a href="/page/about">Технические подробности реализации</a>
    </small></p>
  </div>
</div>
