<h1>Подробности реализации</h1>

<p>Проект Clan Hosting написан с использованием таких технологий:</p>

<ul>
  <li>Ruby on Rails (без базы данных) — обеспечивает отрисовку веб-страниц,
    веб-сессии, функционал форума, шаблонизацию, перевод на несколько языков.
    Поскольку база данных встроенная в Rails не используется и общих данных
    (кроме веб сессий) не имеет, то можно запустить много копий фронта
    на нескольких серверах. Все точки входа через любой фронт независимы, за
    исключением IP адреса привязанного пользователями домена (решается правилами
    Load Balancer) и хранилища веб-сессий (доработка которого есть в TODO).</li>
  <li>Erlang (связан посредством простого RPC с Rails) — обеспечивает доступ
    Rails-фронтэнда к базе данных и контроль над операциями с базой данных,
    также может масштабироваться на несколько серверов при необходимости.</li>
  <li>Riak 2.0 — замечательная база данных типа key/value, масштабируется
    автоматически при добавлении новых серверов, перебалансируется при отказе
    серверов тоже автоматически, чтение и запись могут происходить на любом узле
    базы данных не опасаясь потерь данных при временном разделении сети.</li>
  <li>Минимальная поддержка Nginx — ориентировочно бэкенд генерирует
    конфигурационный файл для Nginx с пользовательскими доменами и затем должен
    перезапускать Nginx по мере надобности. Эта часть частично не закончена.</li>
</ul>

<h1>Замечания по функционалу</h1>

<ul>
  <li>Языки — работают английский и русский, новые добавить дело техники.</li>
  <li>Поиск кланов работает.</li>
  <li>Альянсы — частично (см. TODO ниже).</li>
  <li>Лента новостей клана — админка сделана, вывод ленты нет. См TODO.</li>
  <li>Форумы — было решено написать простейший минимальный форум самостоятельно
    по причине тяжеловесности готовых решений и сложности адаптации к работе
    без базы данных ActiveRecord (ну то есть адаптировать можно, но зачем?)</li>
  <li>Админка и система прав доступа — основа заложена, функционал
    редактирования и передачи прав не завершён.</li>
  <li>Домен пользователя или наш бесплатный поддомен — сделано кроме интеграции
    с Nginx. См. TODO по Nginx.</li>
</ul>

<h1>TODO</h1>

<p>Что можно доделать и улучшить:</p>

<ul>
  <li>Колонка новостей — сделать вывод колонки клана и возможно новостей
    альянса.</li>
  <li>Альянсы — сделано наполовину, в основном из-за сложностей в тестировании
    между несколькими кланами и нехваткой времени. То есть альянсы есть, но их
    создание не завершено и форумы полноценно не интегрированы в форумы нашего
    клана.</li>
  <li>Форумы — поскольку было решено написать простейший свой форум, то не
    хватает панели модератора, смайлов, вставки видео, изображений и проч.
    Вполне можно доработать эту часть позже.</li>
  <li>Админка — доделать функционал прав доступа.</li>
  <li>Доделать интеграцию с Nginx и перезагрузку конфига. Почти готово.</li>
  <li>Не готова стратегия работы с Load Balancer. Ожидается, что LB будет
    заниматься терминированием SSL и направлением запросов к правильному узлу
    кластера. Erlang-бэкенд может выполнять необходимые расчёты и отдавать
    команды LB.</li>
  <li>Проработать правила более-менее равномерного распределения пространства
    всех кланов между имеющимися серверами, а также процедуру перебалансировки
    и переноса точек входа доменов кланов, если один из серверов отказал. Строго
    говоря единственные данные, которые на это влияют — это хранилище сессий
    (которое можно перекинуть в Erlang или Riak и также сделать его независимым
    от точки входа) и IP адреса доменов пользователей, которые при адаптировании
    этого продукта под API хостинга можно перекидывать на новые сервера или
    переконфигурировать правила LB.</li>
  <li>Чат. Неизвестно, наколько полезно делать собственный чат, или лучше просто
    интегрироваться с существующими или с чатом в соцсетях.</li>
</ul>
