%% -*- mode: erlang; -*-
{erl_opts, [ % native
           debug_info
           , {parse_transform, lager_transform}
           ]}.

{sub_dirs, [ ]}.
{deps_dir, "../../deps"}.
{lib_dirs, [ "..", "../../deps" ]}.

{deps, [ {lager, ".*", {git, "https://github.com/basho/lager.git", "master"}}
        , {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "0.9.0"}}
        , {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", "master"}}
%%%     , {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", "master"}}
        , {riak_pool, ".*", {git, "https://github.com/kvakvs/uriak_pool.git", "master"}}
%%%     , {flake, ".*", {git, "https://github.com/boundary/flake.git", "master"}}
        , {tempo, ".*", {git, "https://github.com/selectel/tempo.git", "master"}}
        , {lhttpc, ".*", {git, "https://github.com/esl/lhttpc.git", "master"}}
       ]}.
