<li class="list-group-item">
  <%= link_to thread['title'],
                thread_path(:clan_id => session[:user_clan],
                            :forum_id => forum['id'],
                            :id => thread['id'])
%></li>