<h1><%= @forum['title'] %></h1>

<% if @threads.empty? %>
  <%= t 'app.forums.no_threads' %>
<% end %>

<p><%= link_to t('app.forums.new_thread'),
                new_thread_path(:clan_id => session[:user_clan],
                                :forum_id => @forum['id']),
                :class => 'btn btn-primary' %></p>

<% @threads.each do |thread| %>
  <h3><%= link_to thread['title'],
                  thread_path(:clan_id => session[:user_clan],
                              :forum_id => @forum['id'],
                              :id => thread['id'])
  %></h3>
<% end %>
