<h1><%= @forum['title'] %></h1>

<% if @threads.empty? %>
  <%= t 'app.forums.no_threads' %>
<% end %>

<p><%= link_to t('app.forums.new_thread'),
                new_thread_path(:clan_id => session[:user_clan],
                                :forum_id => @forum['id']),
                :class => 'btn btn-primary' %></p>

<!-- begin threads -->
<% @threads.each do |thread| %>
  <%= render :partial => 'thread_row',
             :locals => {:thread => thread, :forum => @forum} %>
<% end %>
<!-- end threads -->