<h3 class="bg-danger">Найти клан</h3>

<form class="form-inline" role="form">
  <div class="form-group">
    <input type="text" class="form-control" id="clan" placeholder="Full or partial clan name">
  </div>
  <button type="submit" class="btn btn-default">Find!</button>
</form>

<h3>Присоединиться к одному из кланов?</h3>

<p>Пройдите в наш <a href="#" class="bg-danger">центр призыва</a> и
  посмотрите, какие из кланов вам подходят.</p>