<h3><%= t 'app.search.find_btn' %></h3>

<p><%= t 'app.search.about_text' %></p>

<%= render :partial => 'shared/search_form_inline' %>

<h3>Присоединиться к одному из кланов?</h3>

<p><%= raw t('app.wg_recruitment',
         :link => link_to(t('app.recruitment_center'),
                         'http://worldoftanks.ru/community/recruitstation/')) %>
  </p>
