<h3 class="bg-danger">Find a clan</h3>

<form class="form-inline" role="form">
  <div class="form-group">
    <input type="text" class="form-control" id="clan" placeholder="Full or partial clan name">
  </div>
  <button type="submit" class="btn btn-default">Find!</button>
</form>

<h3>Looking to join a clan?</h3>

<p>Visit our <a href="#" class="bg-danger">recruitment center</a> to see what
  clans may be good just for you.</p>