<h1><%= t'app.search.results' %></h1>

<p><%= t('app.search.found_n_results', :count => @vars[:clans].size) %></p>

<br/>
<hr/>


<% unless @vars[:clans].empty? %>
  <% @vars[:clans].each_slice(3) do |slice| %>
    <div class="row" style="margin-top: 16px; margin-bottom: 24px;">
    <% slice.each do |clan| %>
    <%= render :partial => 'search_results_clan',
               :locals => {:clan => clan} %>
    <% end %> <!-- row -->
    </div>
  <% end %> <!-- slice -->
<% end %><!-- unless empty -->

