<% unless user_signed_in? %><h1><%= t 'page.home.title' %></h1><% end %>

<% unless user_signed_in? %>
<div class="row">
  <div class="col-lg-6">
    <%= render :partial => 'features' %>
  </div>
  <div class="col-lg-6">
      <%= render :partial => 'find_or_join' %>
  </div>
</div>
<% end %>
