// Place all the styles related to the ControlPanel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.dropcap {
  font-size: 250%;
  font-weight: bold;
  color: silver;
}
div.vcenter {
  min-height: 3em;
  padding-top: 0.8em;
  background: #f8f8f8;
  border: 1px solid #eee;
}
