// Place all the styles related to the Threads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.forumPost {
  border: 1px solid #ddd;
  padding: 1em;
}
div.forumPostBody {
  border: 1px solid #ddd;
  padding: 1em;
  margin-bottom: 1em;
}